#####################
### Filament menu ###
#####################

[menu __filament]
type: list
name: Filament
items:
    __temp __hotend0_current, __temp __hotend0_target
    .__unload
    .__load
    .__feed

[menu __filament __load]
type: command
name: Load Filament
gcode:
    M83
    G1 E100 F1800
    G1 E100 F1800
    G1 E100 F1800
    G1 E100 F1800
    G1 E50 F300
    G1 E50 F300
    M82

[menu __filament __unload]
type: command
name: Unload Filament
gcode:
    M83
    G1 E5 F300
    G1 E-10 F4500
    G1 E-100 F1800
    G1 E-100 F1800
    G1 E-100 F1800
    G1 E-100 F1800
    M82

[menu __filament __feed]
type: input
name: Feed: {0:.1f}
parameter: 0
input_step: 0.1
gcode:
    M83
    G1 E{0:.1f} F30