####################
### Prepare menu ###
####################

[menu __mymain __prepare]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Prepare

# include the submenu for mesh bed leveling
[include manual_mbl_menu.cfg]

[menu __mymain __prepare __hotend_pid_tuning]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('extruder' in printer)}
name: Hotend PID Tuning
gcode: PID_CALIBRATE HEATER=extruder TARGET=240 WRITE_FILE=1

[menu __mymain __prepare __hotbed_pid_tuning]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and ('heater_bed' in printer)}
name: Heatbed PID Tuning
gcode: PID_CALIBRATE HEATER=heater_bed TARGET=60 WRITE_FILE=1

[menu __mymain __prepare __dump]
type: command
name: Dump parameters
gcode:
   {% for name1 in printer %}
      {% for name2 in printer[name1] %}
         { action_respond_info("printer['%s'].%s = %s"
                               % (name1, name2, printer[name1][name2])) }
      {% else %}
         { action_respond_info("printer['%s'] = %s" % (name1, printer[name1])) }
      {% endfor %}
   {% endfor %}

[menu __mymain __prepare __save_config]
type: command
name: Save config
gcode: SAVE_CONFIG

[menu __mymain __prepare __firmware_restart]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Firmware Restart
gcode: FIRMWARE_RESTART

[menu __mymain __prepare __host_restart]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Host Restart
gcode: RESTART