:root {
    /* colors */
    --red:            #fc618d;
    --orange:         #fd9353;
    --yellow:         #fce566;
    --green:          #7bd88f;
    --blue:           #5ad4e6;
    --purple:         #948ae3;
    /* grayscales */
    --gray1: #131313;
    --gray2: #191919;
    --gray3: #222222;
    --gray4: #363537;
    --gray5: #525053;
    --gray6: #69676c;
    --gray7: #8b888f;
    --gray8: #bab6c0;
    --gray9: #f7f1ff;
}

/* disable sidebar image */
.v-navigation-drawer__image{
    display: none !important;
}

/* set sidebar background color */
.v-navigation-drawer__content{
    background-color: var(--gray1) !important;
}

/* top bar background */
.v-toolbar__content{
    background-color: var(--gray3) !important;
}

/* set main background color */
.v-main__wrap{
    background-color: var(--gray2) !important;
}

/* card background */
.v-card__text{
    background-color: var(--gray3) !important;
}

/* card title */
.v-sheet.theme--dark.v-toolbar.v-toolbar--dense.v-toolbar--flat
>.v-toolbar__content{
    background-color: var(--gray3) !important;
    color: var(--gray9) !important;
    border-bottom: 1px solid var(--gray4);
}

.v-sheet.v-card {
    border-radius: 4px;
    background-color: var(--gray3) !important;
}

/*---------------------------*/
/*----STYLING THE BUTTONS----*/
/*---------------------------*/

/* upload + print */
button.mr-5.d-none.d-sm-flex.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.primary{
    color: var(--blue) !important;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}

/* e-stop button */
button.button-min-width-auto.px-3.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.error{
    color: var(--red) !important;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}

/* default home all */
button.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--small.warning{
    color: var(--orange) !important;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}
button.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--small.primary{
    color: var(--green) !important;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}

/* alternate home all */
button.w-100.v-btn.v-btn--is-elevated.v-btn--has-bg.v-btn--tile.theme--dark.v-size--default.warning{
    color: var(--orange) !important;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}
button.w-100.v-btn.v-btn--is-elevated.v-btn--has-bg.v-btn--tile.theme--dark.v-size--default.primary{
    color: var(--green) !important;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}


/* default home xyz */
button.font-weight-bold.btnHomeAxis.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.warning{
    color: var(--orange) !important;
    border: 1px solid;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}
button.font-weight-bold.btnHomeAxis.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.primary{
    color: var(--green) !important;
    border: 1px solid;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}

/* alternate home xyz */
button.btnMinWidthAuto.w-100.v-btn.v-btn--is-elevated.v-btn--has-bg.v-btn--tile.theme--dark.v-size--default.warning{
    color: var(--orange) !important;
    border: 1px solid;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}
button.btnMinWidthAuto.w-100.v-btn.v-btn--is-elevated.v-btn--has-bg.v-btn--tile.theme--dark.v-size--default.primary{
    color: var(--green) !important;
    border: 1px solid;
    border-color: var(--gray4) !important;
    background-color: var(--gray3) !important;
}

/*
    CHANGE content of icons
    Material Desgin Icons can be found on https://pictogrammers.github.io/@mdi/font/5.2.45/
*/

.theme--dark.v-icon {
    color: var(--gray9);
}

/* E-Stop */
.mdi-alert-circle-outline:before{
    content: "\F002A";
}

/* Upload & Print */
.mdi-file-upload:before{
    content: "\F0A4E";
}
